<?xml version='1.0' encoding='utf-8'?>
<page name='Title_FIS' xmlns='http://www.lotus.com/dxl' version='9.0' maintenanceversion='1.4'
 replicaid='47257FEB0022139D' hide='web' publicaccess='true' designerversion='7'
 bgcolor='#e0a175'>
<noteinfo noteid='952' unid='01A2D5B255DB18FC47257E6600236588' sequence='55'>
<created><datetime>20150616T132637,52+07</datetime></created>
<modified><datetime>20160709T131223,47+07</datetime></modified>
<revised><datetime>20160623T113934,88+06</datetime></revised>
<lastaccessed><datetime>20160709T131223,47+07</datetime></lastaccessed>
<addedtofile><datetime>20160709T131223,47+07</datetime></addedtofile></noteinfo>
<updatedby><name>CN=Dmitry V Muha/O=tcde/C=ru</name><name>CN=Ruslan Kopitov/O=tcde/C=ru</name><name
>CN=Dmitry V Muha/O=tcde/C=ru</name><name>CN=Pavel S Kuznetsov/O=tcde/C=ru</name><name
>CN=Dmitry V Muha/O=tcde/C=ru</name><name>CN=Ruslan Kopitov/O=tcde/C=ru</name><name
>CN=Pavel S Kuznetsov/O=tcde/C=ru</name><name>CN=Ruslan Kopitov/O=tcde/C=ru</name><name
>CN=Pavel S Kuznetsov/O=tcde/C=ru</name><name>CN=Ruslan Kopitov/O=tcde/C=ru</name><name
>CN=Pavel S Kuznetsov/O=tcde/C=ru</name><name>CN=Dmitry V Muha/O=tcde/C=ru</name><name
>CN=Ruslan Kopitov/O=tcde/C=ru</name><name>CN=Pavel S Kuznetsov/O=tcde/C=ru</name><name
>CN=Ruslan Kopitov/O=tcde/C=ru</name><name>CN=Dmitry V Muha/O=tcde/C=ru</name><name
>CN=Ruslan Kopitov/O=tcde/C=ru</name><name>CN=Dmitry V Muha/O=tcde/C=ru</name><name
>CN=Ruslan Kopitov/O=tcde/C=ru</name><name>CN=Pavel S Kuznetsov/O=tcde/C=ru</name><name
>CN=Ruslan Kopitov/O=tcde/C=ru</name><name>CN=Pavel S Kuznetsov/O=tcde/C=ru</name><name
>CN=Dmitry V Muha/O=tcde/C=ru</name><name>CN=Ruslan Kopitov/O=tcde/C=ru</name><name
>CN=Dmitry V Muha/O=tcde/C=ru</name><name>CN=Ruslan Kopitov/O=tcde/C=ru</name><name
>CN=Dmitry V Muha/O=tcde/C=ru</name><name>CN=Ruslan Kopitov/O=tcde/C=ru</name><name
>CN=Dmitry A Turkov/O=tcde/C=ru</name><name>CN=Dmitry V Muha/O=tcde/C=ru</name><name
>CN=Dmitry A Turkov/O=tcde/C=ru</name><name>CN=Ruslan Kopitov/O=tcde/C=ru</name><name
>CN=Dmitry A Turkov/O=tcde/C=ru</name><name>CN=Dmitry V Muha/O=tcde/C=ru</name><name
>CN=Ruslan Kopitov/O=tcde/C=ru</name><name>CN=Pavel S Kuznetsov/O=tcde/C=ru</name><name
>CN=Ruslan Kopitov/O=tcde/C=ru</name><name>CN=Pavel S Kuznetsov/O=tcde/C=ru</name><name
>CN=Ruslan Kopitov/O=tcde/C=ru</name><name>CN=Dmitry V Muha/O=tcde/C=ru</name><name
>CN=Pavel S Kuznetsov/O=tcde/C=ru</name><name>CN=Dmitry A Turkov/O=tcde/C=ru</name><name
>CN=Ruslan Kopitov/O=tcde/C=ru</name><name>CN=Dmitry A Turkov/O=tcde/C=ru</name><name
>CN=Ruslan Kopitov/O=tcde/C=ru</name><name>CN=Dmitry A Turkov/O=tcde/C=ru</name><name
>CN=Ruslan Kopitov/O=tcde/C=ru</name><name>CN=Dmitry A Turkov/O=tcde/C=ru</name><name
>CN=Ruslan Kopitov/O=tcde/C=ru</name><name>CN=Pavel S Kuznetsov/O=tcde/C=ru</name><name
>CN=Dmitry A Turkov/O=tcde/C=ru</name><name>CN=Pavel S Kuznetsov/O=tcde/C=ru</name><name
>CN=Ruslan Kopitov/O=tcde/C=ru</name><name>CN=Ilya S Skaba/O=tcde/C=ru</name></updatedby>
<wassignedby><name>CN=Ilya S Skaba/O=tcde/C=ru</name></wassignedby>
<actionbar bgcolor='#f0f0f0' bordercolor='black'>
<actionbuttonstyle bgcolor='#f0f0f0'/><font color='system'/><border style='solid'
 width='0px 0px 1px'/>
<action title='Categori_ze' showinbar='false' systemcommand='categorize'/>
<action title='_Edit Document' showinbar='false' systemcommand='edit'/>
<action title='_Send Document' showinbar='false' systemcommand='send'/>
<action title='_Forward' showinbar='false' systemcommand='forward'/>
<action title='_Move To Folder...' showinbar='false' systemcommand='movetofolder'/>
<action title='_Remove From Folder' showinbar='false' systemcommand='removefromfolder'/></actionbar>
<body><richtext>
<pardef id='1' align='none' leftmargin='0.8125in' hide='notes web'/>
<par def='1'><run><font size='14pt' color='white'/> </run></par>
<table leftmargin='0.8125in' widthtype='fixedleft' refwidth='1.2875in'><border
 outsidewidth='4px 0px 0px 2px'/><tablecolumn width='1.2875in'/>
<tablerow>
<tablecell borderwidth='0px'>
<pardef id='3' leftmargin='1%' keepwithnext='true' keeptogether='true'/>
<par def='3'><run><font size='14pt'/>Экспорт ФИС</run></par></tablecell></tablerow></table>
<pardef id='2' align='none' leftmargin='0.8125in'/>
<par def='2'><run><font size='14pt' color='white'/></run></par></richtext></body>
<item name='OriginalModTime'><datetime>20130517T162058,51+07</datetime></item>
<item name='$$ScriptName' summary='false' sign='true'><text>Title_FIS</text></item></page>

